<h1>Editing pharmaceutical</h1>

<%= render "form", pharmaceutical: @pharmaceutical %>

<br>

<div>
  <%= link_to "Show this pharmaceutical", @pharmaceutical %> |
  <%= link_to "Back to pharmaceuticals", pharmaceuticals_path %>
</div>
