<h1>

<%= image_tag 'depositphotos1.jpg',
  class: 'w-100 shadow-lg d-block mx-auto',
  style: 'max-width: 2000rem;'
%>
<%= image_tag 'depositphotos.jpg',
  class: 'w-100 shadow-lg d-block mx-auto',
  style: 'max-width: 2000rem;'
%>
</h1>